<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>

<body>
    <div>
        <nav>
            <a href="/">Home</a>
            <a href="/">Dashboard</a>
            <a href="/">Login</a>
            <a href="/">Logout</a>
        </nav>
        <div>
            <h1>The Tech Blog / Your Dashboard</h1>
        </div>
    </div>
  <main>
    <div class="mainBody">
      {{{body}}}
    </div>
  </main>
</body>

</html>