{{!-- Sign-up page --}}
<div class="card">
    <div class="card-header">
        Sign-up
    </div>
    <form class="formContainer">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input class="form-control" id="usernameInput" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordInput">
        </div>

        <div class="d-grid gap-">
            <button class="btn" type="submit">Sign Up!</button>
        </div>
            <a href="/login" class="login-signup">Login instead</a>
    </form>
</div>

<script src="/index.js"></script>